{% set proxy = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['haproxy'],
        'service': 'haproxy',
        'stats_socket': '/run/haproxy/admin.sock',
    },
    'RedHat': {
        'pkgs': ['haproxy'],
        'service': 'haproxy',
        'stats_socket': '/var/lib/haproxy/stats',
    },
}, merge=salt['pillar.get']('haproxy:proxy')) %}
